nav(ng-controller="NavsController")
	.nav-wrapper
		ul#nav-mobile.right
			li
				a(href="/") Home
			li
				a(href="/register") Register
			li
				a(href="/login") Login
			li
				a(href="/profile") Profile