nav(ng-controller="MainsController")
	.nav-wrapper
		a.brand-logo(href="/") StudyBuddy
		ul#nav-mobile.right
			li(ng-hide="signedIn()")
				a(href="/register") Register
			li(ng-hide="signedIn()")
				a(href="/login") Login
			li(ng-show="signedIn()")
				a(href="/profile") Profile
			li(ng-show="signedIn()")
				a(ng-click="logout()") Logout