nav
	.nav-wrapper
		a.brand-logo(href="/") StudyBuddy
		ul#nav-mobile.right.hide-on-med-and-down
			li
				a(href="/about") About
			li
				a(href="/profile") Profile
			li
				a(href="/settings") Settings