nav
	.nav-wrapper
		a.brand-logo(href="/") StudyBuddy
		ul#nav-mobile.right.hide-on-med-and-down
			li
				a(href="/topic") Topic
			li
				a(href="/profile") Profile
			li
				a(href="/post") New Buddy