@import 'nib'
@import 'components/_helpers'
@import 'components/_alerts'

//- Color Variables
white = #fff
primary-color = #4db6ac

//- Globals
body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-transform translate3d(0,0,0)

.container
  width 100%

.user-icon
  height 90px
  width 90px

//- Navigation
nav
  background-color primary-color
  .brand-logo
    left 2%
    transform translate(-2%)


  @media (min-width: 993px)
    .brand-logo
      padding-left: 20px
      left 50%
      transform translate(-50%)

//- light Unit
.light
  padding 30px

  h5
    margin-bottom 30px

//- Collections
.collection
  text-align left
  padding 15px 0

  .collection-item
    position relative
    .title, .subtitle
      display block
      width 90%
    .title
      font-weight 500
    .subtitle
      font-size 16px
      color #bdbdbd
    .icon-item
      color #ef5350
      position absolute
      right 20px
      top 50%
      margin-top -16px

//- Hero Unit
.hero
  background-repeat no-repeat
  background-position center center
  background-size cover
  min-height 200px
  position relative
  display flex
  justify-content center
  align-items center

  .section-title
    margin 0
    color white
    font-size 45px

  .gravatar-icon
    position absolute
    bottom -30px
    left 50%
    margin-left -45px
    border: 5px solid white
    transition bottom 0.3s
    z-index 523
    &:hover
      bottom -20px
      transition all 0.3s

  .change-header-img-icon
    color white
    position absolute
    bottom 5%
    left 5%
    cursor pointer
    &:hover
      opacity 0.8

//- title wrapper
.title-wrapper
  padding 20px


//- Icons
.fa
  margin-left 10px

//- Sections
.categories
  margin-bottom 15px

//- Cards
.card
  .card-title
    font-size 20px
    width 350px
    display block
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
