doctype html
html(ng-app='sbApp')
    head
        include ./includes/meta.jade      
        include ./includes/externals.jade
                
        script(type='text/javascript', src='/js/app.min.js')
        link(rel='stylesheet', href='/css/app.min.css')
    body
        .container(ng-controller='MainController')
            
            include ./includes/partials/nav_bar.jade
            
            div(ng-view)

        script.
            console.log("working");
