section.light
  .row
    .col.s12.card.z-depth-1
      h4 {{ post.text }}
      p Translation: {{ post.translation }}
      .categories
        .chip.light-green.lighten-2.white-text {{ post.category }}
section.light.center-align
  a.waves-effect.waves-light.btn(href="/") Home