//- section.hero(ng-style="{'background-image': 'url(' + user.cover_image + ')'}")
section.row.hero.profile
	.col.s12
		img.circle.gravatar-icon.z-depth-1(ng-src='{{ user.password.profileImageURL }}', height="90px", width="90px" )
		i.fa.fa-camera.change-header-img-icon 
section.row.user-info.light.center.no-margin
	.col.s12
		.divider
		h4 {{ user.profile.full_name }}
		p {{ user.profile.email }}
		.divider
		div.bio.left-align
		p I'm fluent in every language. I tackle the impossible and sigh. I am just an example. I do not exist.
		.divider
		p Languages
		.chip.light-green.lighten-2 Japanese
		.chip.light-green.lighten-2.left-margin English