.modal#confirmModal
  .modal-content
    h4 Confirmation
    p Are you sure you want to delete this post?
  .modal-footer
    button.modal-action.modal-close.waves-effect.waves-green.btn-flat Cancel
    button.modal-action.waves-effect.waves-green.btn-flat Delete