@import 'nib'

body
    background-color #fff
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    -webkit-transform translate3d(0,0,0)

    font-family HelveticaNeue, Helvetica, Arial, sans-serif
    font-size 17px
    color #a3a3a3
    line-height 20px

