section.light
	.row
		.col.s12
			h4 Add a new Study Buddy
			form(ng-submit='createBuddy(buddy)')
				
				input.form-control(type='text', ng-model='buddy.full_name', placeholder='Buddy Name', required)
				
				input.form-control(type='text', ng-model='buddy.gravatar', placeholder='Image Link', required)

				input.form-control(type='text', ng-model='buddy.speech', placeholder='Speech Type (e.g. casual, formal, etc.', required)

				input.btn.btn-warning(type='submit', value='Post')