section.light.center
  h5 Welcome!
  .row
    .col.s12
      a.btn-large.waves-effect.waves-light(href='/newPost') Create New PhraseMem
        i.fa.fa-pencil
  .row
    .col.s12
      ul(ng-repeat="post in posts")
        li
          span {{ post.text }}
          span {{ post.translation }}