//- section.hero(ng-style="{'background-image': 'url(' + user.cover_image + ')'}")
section.hero.profile
	.row
		.col.s12
			h2.section-title {{ user.profile.full_name }}
			img.circle.gravatar-icon.z-depth-1(ng-src='{{ user.password.profileImageURL }}')
			i.fa.fa-camera.change-header-img-icon 

section.user-info.light.center
	.row
		.col.s10.offset-s1
			.section
				h5 Basic Info
			.divider
			.section.left-align
				p Name: {{ user.profile.full_name }}
				p Email: {{ user.profile.email }}
				p Member Since: {{ user.profile.joined_date }}

			a.waves-effect.waves-light.btn(href="/") Home
