section.hero(ng-style="{'background-image': 'url(' + user.cover_image + ')'}")
	.row
		.col.s12
			h2.section-title {{ user.full_name }}
			img.circle.gravatar-icon.z-depth-1(ng-src='{{ user.gravatar }}')
			i.fa.fa-camera.change-header-img-icon 

section.user-info.light.center
	.row
		.col.s10.offset-s1
			.section
				h5 Basic Info
			.divider
			.section
				p Name: {{ user.full_name }}
				p Email: {{ user.email }}
				p Joined Date: {{ user.date_joined }}

			a.waves-effect.waves-light.btn(href="/") Home
