section.light
  .row
    .col.s12.card.z-depth-1
      h4 {{ post.text }}
      p Translation: {{ post.translation }}
      .categories
        .chip.light-green.lighten-2.white-text {{ post.tag }}
        a.waves-effect.waves-light.btn.red.float-right(ng-click="deletePost(post.$id)")
          i.material-icons.left delete
          | Delete
        a.waves-effect.waves-light.btn.orange.float-right(ng-href="/post/edit/{{ post.$id }}")
          i.material-icons.left edit
          | Edit

section.light.center-align
  a.waves-effect.waves-light.btn(href="/") Home
